header {
    .header-top {
        background-color: $primary-color;

        .container {
            display: flex;
            font-size: .8125rem;
            justify-content: flex-end;

            a {
                margin: .125rem 0rem .125rem 3.125rem;
                color: white;
            }
        }
    }

    .header-bottom {
        height: 7.5rem;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {
                display: flex;
                height: 100%;
                gap: 2.125rem;
                list-style: none;

                li {
                    color: $secondary-color;
                    height: 7.5rem;

                    &:hover {
                        color: $primary-color;
                        border-bottom: .3125rem solid $primary-color;
                    }

                    a {
                        line-height: 7.5rem;
                    }
                }
            }
        }
    }
}